body {
    margin: 0;
    padding: 0;
    background: #FFF;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
.btn,
a {
    font-family: "helvetica";
    font-weight: 400;
}
.container {
    max-width: 1000px;
}

/* Button */
a.btn, button.btn {
    background-color: #2a2a2a;
    margin-top: 22px;
    text-transform: uppercase;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border: 1px solid rgba(0, 0, 0, .08);
    border-bottom-color: rgba(0, 0, 0, .1);
    border-radius: 40px;
    text-shadow: 0 1px 0 rgba(0, 0, 1, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 1, .25) inset O 1px 00 rgba(255, 255, 255, .15);
    color: #e9e9e9;
    font-size: 1.2em;
    padding-left: 15px;
    padding-right: 15px;
}
a.btn:hover {
    background-color: #000;
    color: #fff;
}
a.btn:focus {
    color: #FFF;
    border-color: #FFF;
}
a,
button {
    transition: all .3s ease-in-out;
    outline: none;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}
a:focus {
    color: #FFF;
}

/* NAV */
nav.navbar {
    min-height: 80px;
    margin-top: 20px;
    margin-bottom: 0;
}
.navbar-brand {
    height: auto;
    padding: 3px 15px;
    font-size: 25px;
    font-weight: normal;
    font-weight: 600;
    line-height: 44px;
}

.navbar-brand img {
    max-height: 200px;
    margin: 0 5px 0 0;
    display: inline;
}

.navbar-brand img[src$=svg] {
    min-width: 100px;
}

.nav-center .navbar-brand img {
    margin: 0;
}

.navbar .nav {
    padding-top: 2px;
    z-index: 1;
}

.nav > li {
    margin-top: 4px;
    font-size: 1.2em;
}
.nav > li a {
    color: #575757;
}
.nav > li a.active {
    font-weight: 700;
}

.navbar-nav .open .dropdown-menu > li > a {
    text-align: inherit;
}

.nav > li a:hover,
.nav > li a:focus {
    background: transparent;
}

.navbar-toggle {
    margin: 10px 10px 0 0;
    border: 0px;
}

.navbar-toggle .icon-bar {
    background-color: rgba(0, 0, 0, .5);
    width: 2em;
}

/* Paper texture */
#contact,
#what-we-do,
#ready-to-work,
#about-contact {
    position: relative;
    z-index: 1;
}
#contact::before,
#what-we-do::before,
#ready-to-work::before,
#about-contact::before {
    content: "";
    position: absolute;
    background: url("../images/texture-paper.png");
    background-size: auto;
    background-size: 280px 280px;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
    display: block;
    z-index: -1;
}

/* CONTACT */
#contact {
    background-image: url("../images/la-chouette-agence-banniere.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-color: #364577;
    background-attachment: fixed;
    background-size: auto;
    padding: 40px 50px;
    margin: auto;
}
#contact figure img {
    width: 100px;
}
#contact > div {
    margin-top: 65px;
    margin-bottom: 65px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact h1 {
    color: #fff;
    font-size: 2.3em;
    font-weight: 400;
    font-family: "helvetica";
}

/* ABOUT */
#about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#about > div {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
#about > div p {
    font-size: 1.5em;
    color: #8a8a8a;
    font-weight: 700;
    max-width: 600px;
}
#about blockquote {
    margin-top: 50px;
    margin-bottom: 40px;
    border: none;
    text-align: center;
}
#about blockquote p {
    max-width: 500px;
    font-style: italic;
    color: #565656;
    font-weight: 700;
    margin-bottom: 0;
}
#about blockquote cite {
    font-size: .9em;
    color: #747474;
}
#about article {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#about article h2 {
    text-transform: uppercase;
    font-size: 1.15em;
    font-weight: 700;
}
#about article span {
    color: #364577;
    border-color: #364577;
    margin-top: 24px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    font-size: 4em;
}

/* WHAT WE DO */
#what-we-do {
    background-image: url("../images/image-de-presentation.bmp");
    background-position: top;
    background-repeat: no-repeat;
    background-color: #364577;
    background-attachment: fixed;
    background-size: auto;
    margin: auto;
    padding: 40px 0;
}
#what-we-do > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    position: relative;
    max-width: 600px;
}
#what-we-do > div::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: rgba(37, 37, 37, 0.7);
}
#what-we-do > div h2 {
    color: #fff;
    font-size: 1.5em;
}
#what-we-do > div p {
    color: #fff;
    font-size: 1em;
    margin-top: 10px;
}
#what-we-do > div a {
    color: #fff;
    font-weight: 900;
    text-decoration: underline;
}
#what-we-do > div a:hover {
    color: #cccccc;
    text-decoration: underline;
}

/* PORTFOLIO */
#portfolio {
    background-image: url(../images/lines-h2-bg.png);
    background-repeat: repeat;
    background-size: auto;
}
#portfolio > div {
    display: flex;
    flex-direction: column;
}
#portfolio > div article {
    text-align: center;
}
#portfolio > div > div {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 40px;
}
#portfolio h2 {
    max-width: 500px;
    text-align: center;
    color: #707070;
    font-size: 1.8em;
}
#portfolio > div article h3 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.2em;
    margin-bottom: 20px;
}
#portfolio > div article a img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

/* READY TO WORK */
#ready-to-work {
    background-image: url(../images/la-chouette-agence-banniere.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #364577;
    background-attachment: scroll;
    background-size: auto;
}
#ready-to-work > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 0;
}
#ready-to-work > div h2 {
    color: #fff;
    font-size: 1.6em;
    margin-top: 65px;
}
#ready-to-work > div a {
    margin-bottom: 65px;
}

/* FOOTER */
footer {
    background-color: #2a2a2a;
    color: #fff;
}
footer > div {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
footer > div p {
    text-align: center;
}
footer > div div h2 {
    font-size: 1.1em;
    font-weight: normal;
    font-family: "helvetica";
    color: rgba(255, 255, 255, .7);
}
footer > div > div ul {
    display: flex;
    flex-direction: column;
}
footer > div > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer > div > ul li {
    list-style-type: none;
}
footer > div ul li a {
    color: rgba(255, 255, 255, .6);
    font-size: 2.5em;
}
footer > div > div ul li a {
    color: #fff;
    font-size: 1em;
}
footer > div ul li a:hover {
    color: #fff;
}

/* About - Page contact */
#about-contact {
    background-color: #2a2a2a;
}
#about-contact > div {
    color: rgba(255, 255, 255, .7);
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Contact form */
#contact-form {
    margin-top: 40px;
}
#contact-form .btn {
    width: 100%;
    border-radius: 10px;
}
#contact-form .btn:hover {
    background-color: #000;
    color: #fff;
}
#contact-form .btn:focus {
    color: #FFF;
    border-color: #FFF;
}
#contact-form p {
    margin-top: 20px;
}

#page-loading-blocs-notifaction {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 100000;
    background: #FFFFFF url("../images/pageload-spinner.gif") no-repeat center center;
}

.form-control {
    border-color: rgba(0, 0, 0, .1);
    box-shadow: none;
}

/* Scroll to top */
.scrollToTop {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, .4);
    color: rgba(255, 255, 255, .7);
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    z-index: 500;
    transition: all .3s ease-in-out;
}
.scrollToTop:hover {
    color: #FFF;
}
.showScrollTop {
    font-size: 14px;
    opacity: 1;
}

/* Lightbox */
a[data-lightbox] {
    position: relative;
    display: block;
    text-align: center;
}

a[data-lightbox]:hover::before {
    content: "+";
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
    font-size: 32px;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .6);
    color: #FFF;
    font-weight: 100;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

a[data-lightbox]:hover img {
    opacity: 0.6;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
}

#lightbox-modal {
    display: flex;
    align-items: center;
}

#lightbox-modal .modal-dialog {
    width: 90%;
    max-width: 900px;
    margin: 0 auto 0;
}

#lightbox-modal .modal-dialog img {
    max-height: 90vh;
    margin: 0 auto;
}

.lightbox-caption {
    padding: 20px;
    color: #FFF;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 5px;
}

.close-lightbox {
    color: #FFF;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20;
    background: rgba(0, 0, 0, .5);
    border: none;
    line-height: 30px;
    padding: 0 9px 5px;
    opacity: 0.3;
}

.close-lightbox:hover,
.next-lightbox:hover,
.prev-lightbox:hover {
    opacity: 1.0;
    color: #FFF;
}

.next-lightbox,
.prev-lightbox {
    font-size: 20px;
    color: rgba(255, 255, 255, .9);
    background: rgba(0, 0, 0, .5);
    transition: all .2s ease-in-out;
    position: absolute;
    top: 45%;
    z-index: 1;
    opacity: 0.4;
}

.next-lightbox {
    padding: 6px 8px 1px 13px;
    right: 25px;
}

.prev-lightbox {
    padding: 6px 13px 1px 10px;
    left: 25px;
}

.snapshot-lb .modal-body {
    padding-bottom: 45px;
}

.snapshot-lb .lightbox-caption {
    padding: 0;
    color: rgba(0, 0, 0, .5);
    background: none;
}

@media screen AND (min-width: 768px) {
    .navbar {
        max-width: 1000px;
        margin: 0 auto;
    }

    /* ABOUT */
    #about {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
    #about figure {
        flex-basis: 100%;
    }
    #about article {
        flex-basis: 30%;
        margin: 0 10px;
        text-align: center;
    }

    /* PORTFOLIO */
    #portfolio > div {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    #portfolio > div figure {
        flex-basis: 100%;
    }
    #portfolio > div article {
        flex-basis: 45%;
        margin: 20px 10px;
    }

    /* What we do */
    #what-we-do > div {
        margin: 40px auto;
    }

    /* FOOTER */
    footer > div {
        display: flex;
        justify-content: space-between;
    }
    footer > div > p {
        flex-basis: 100%;
    }
    footer > div > ul {
        flex-basis: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    footer > div > ul > li {
        width: 120px;
    }
    footer > div {
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 30%;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    /* NAV */
    .navbar .nav {
        max-width: 80%
    }
    .nav-center.navbar .nav {
        max-width: 100%
    }
}

@media (max-width: 767px) {
    .navbar .nav {
        padding-top: 0;
        border-top: 1px solid rgba(0, 0, 0, .2);
        float: none!important;
    }
    .navbar.row {
        margin-left: 0;
        margin-right: 0;
    }
    .nav > li {
        margin-top: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        background: rgba(0, 0, 0, .05);
        text-align: left;
        padding-left: 15px;
        width: 100%;
    }
    .nav > li:hover {
        background: rgba(0, 0, 0, .08);
    }
    .dropdown .dropdown a .caret {
        float: none;
        margin: 5px 0 0 10px!important;
        border: 4px solid black;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }
    .navbar-collapse {
        padding: 0;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-brand img {
        max-height: 40px;
        width: auto;
    }
    .close-lightbox {
        display: inline-block;
    }
}